body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

h1,
h2 {
  color: #444;
}

button {
  background-color: #008cba; /* Blue */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #4caf50; /* Green */
  color: white;
}
